section#background-image {
  padding: 60px 50px;
  margin: 100px;
  max-width: 960px;
  position: absolute;
}
section#glasses {
  padding: 10px 20px;
  top: 50px;
  left: 160px;
  margin: 10px;
  max-width: 50px;
  position: relative;
  z-index: 1;
}

section#cowboy-hat {
  padding: 10px 20px;
  left: 100px;
  top: 50px;
  margin: 10px;
  max-width: 50px;
  position: relative;
  z-index: 2;
}